<!DOCTYPE html>

<html>
<head>
    <!-- Metadata -->
	<meta charset="utf-8">

    <!-- Title -->
	<title>{{ SITENAME }}</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">
	<!-- Site Styles -->
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css">
	<!-- Viewport Meta Tag for Mobile Site -->
	<!-- https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag) -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- KaTeX -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous">
	<!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.js" integrity="sha384-U8Vrjwb8fuHMt6ewaCy8uqeUXv4oitYACKdB0VziCerzt011iQ/0TqlSlv8MReCm" crossorigin="anonymous"></script>
	<!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/contrib/auto-render.min.js" integrity="sha384-aGfk5kvhIq5x1x5YdvCp4upKZYnA8ckafviDpmWEKp4afOZEqOli7gqSnh8I6enH" crossorigin="anonymous"
		onload='renderMathInElement(document.body, {
			delimiters : [
			{left: "$$", right: "$$", display: true},
			{left: "\\(", right: "\\)", display: false},
			{left: "$", right: "$", display: false},
			],
			macros : {
				"\\X" : "\\mathcal{X}",
				"\\L" : "\\mathcal{L}",
				"\\R" : "\\mathbb{R}",
				"\\C" : "\\mathbb{C}",
			}
		});'></script>
	{% block head %}
	{% endblock %}
</head>

<body>

<!-- CONTENT ------------------------------------------------------------------>

<!-- HEADER -->
<div id="header-box">
	<nav id="header">
	<ul id="header-nav">
		<li>
			<a id="header-name" href="{{SITEURL}}/">Benjamin R. Bray</a>
		</li>
		<li><a href="/blog">WRITING</a></li>
		<li><a href="/projects">PROJECTS</a></li>
		<li><a href="/resources">RESOURCES</a></li>
		<li><a href="/resume.pdf">RESUME</a></li>
	</ul>
	</nav>
</div>

<!-- PRECONTENT -->
<div id="pre-content">
	{% block precontent %}
	{% endblock %}
</div>

<div id="page">
	
	<!-- CONTENT -->
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

	<!-- Page Footer -->
	<div id="page-footer">
		<span style="float: left; vertical-align: middle">
			<img id="visitor-count" src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="Hits">
			Powered by <a href="http://blog.getpelican.com/">Pelican</a> and hosted on <a href="https://github.com/benrbray/benrbray.github.io-source">GitHub</a>.
		</span>
		<span style="float: right">
			Last updated on {{ SITE_LAST_MODIFIED | strftime("%B %d, %Y") }}
		</span>
	</div>
</div>

</body>
</html>
