[submodule "output"]
	path = output
	url = https://github.com/benrbray/benrbray.github.io.git
	ignore = dirty
[submodule "content/static/boggle"]
	path = content/static/boggle
	url = git@github.com:benrbray/boggle-unboggle.git
	ignore = dirty
[submodule "content/static/geom"]
	path = content/static/geom
	url = git@github.com:benrbray/geometry-demo.git
	ignore = dirty
[submodule "content/static/gridgame-react"]
	path = content/static/gridgame-react
	url = git@github.com:benrbray/gridgame-react.git
