{% extends "structure/base.html" %}

<!-- HEAD ------------------------------------------------------------------ -->
{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/article.css" type="text/css">

<!-- Pygments -->
<link rel="stylesheet" href="http://localhost:8000/theme/css/pygments.css" type="text/css">
<!-- KaTeX -->
{% include "structure/katex.html" %}
<!-- Table of Contents -->
<script>
{% include "plugins/toc.js" %}

window.onload = function(){
	buildTableOfContents(document.getElementById("toc"));
}
</script>
{% endblock %}

<!-- PRE-CONTENT -------------------------------------------------------------->
{% block precontent %}
<!-- Article Banner Image -->
{% if article.banner_url %}
<div class="page-banner">
	<img src="{{SITEURL}}/{{article.banner_url}}"></img>
	{% if article.banner_comment %}
	<div class="banner-comment">{{article.banner_comment}}</div>
	{% endif %}
</div>
{% endif %}
{% endblock %}

<!-- CONTENT ------------------------------------------------------------------>
{% block content %}

<div class="center">

<!-- Post Header -->
<header class="article-header">
	<h1 class="article-title">{{ article.title }}</h1>
	<div class="article-info">
		<!-- Date -->
		<div class="article-date">
			Posted in {{ article.category }} on {{ article.date | strftime("%B %d, %Y")}}
		</div>
		<!-- Tags / Tools -->
		{% if article.tags or article.tools %}
			<nav class="article-tags">
				{% for tag in article.tags %}<a href="/tag/{{tag}}">{{tag}}</a>{% endfor %}
				{% if article.tools %}
					{% set tools = article.tools.split(",") %}
					{% for tool in tools %}
					<a class="tool">{{tool}}</a>
					{% endfor %}
				{% endif %}
			</nav>
		{% endif %}
	</div>
	{% if article.github_url or article.demo_url or article.pdf_url %}
	<div class="article-buttons">
		<!-- Demo URL -->
		{% if article.demo_url %}
		<a class="article-button demo" href={{article.demo_url}}><div>LIVE DEMO</div></a>
		{% endif %}
		<!-- GitHub URL -->
		{% if article.github_url %}
		<a class="article-button github" href={{article.github_url}}><div>GITHUB</div></a>
		{% endif %}
		<!-- PDF URL -->
		{% if article.pdf_url %}
		<a class="article-button pdf" href={{article.pdf_url}}><div>PDF</div></a>
		{% endif %}
	</div>
	{% endif %}
</header>

<!-- Table of Contents (Requires JavaScript) -->
<div id="toc" class="displaynone"></div>

<!-- Post Context -->
<div class="article-content">
	<div id="post-body">
	{{ article.content }}
	</div>
</div>

</div>
{% endblock %}
