{% extends "structure/base.html" %}

<!-- STYLE -------------------------------------------------------------------->
{% block head %}
{% endblock %}

<!-- CONTENT ------------------------------------------------------------------>
{% block content %}

<!-- ABOUT ME -->
<div id="about-box">
    <div id="about-info">
        <img src="{{SITEURL}}/theme/images/ben-160px.jpg" style="width: 160px; height: 160px; border-radius: 100px; margin: 0 10px;">
    </div>
    <div id="about-text">
        <p style="margin-top: 5px">I'm a computer science PhD student at <b>Georgia Tech</b>, interested in mathematical optimization and numerical methods.  My advisor is <a href="https://www.cc.gatech.edu/~jabernethy9/">Jacob Abernethy</a>. 
            
        <p>Previously, I studied math at the University of Michigan, where I also helped with a machine learning <a href="https://eecs445-f16.github.io/">class</a> and <a href="http://msail.github.io/">reading group</a>.  Off-campus I like to bike, cook, and play piano.  Maybe one day I'll make more <a href="http://www.newgrounds.com/portal/view/512482">games</a>.
        
        <p>If you'd like to chat, feel free to write me at <a href="mailto:benrbray@gatech.edu">benrbray@gatech.edu</a>.
    </div>
</div>

<!-- Recent Updates -------------------------------------------------------- -->
<h1>Recent Updates</h1>

<table>
    <colgroup>
        <col style="width:120px">
    </colgroup>
    <tr>
        <td><b>Fall 2019</b></td>
        <td>Teaching assistant for <a href="https://cs4540-f19.github.io/">CS 4540: Advanced Algorithms (F19)</a></td>
    </tr>
    <tr>
        <td><b>July 2019</b></td>
        <td>Attended the <a href="http://www.cas.mcmaster.ca/~deza/tokyo2019progr.html">Discrete Optimization & Machine Learning
            Workshop</a> at RIKEN AIP</td>
    </tr>
    <tr>
        <td><b>Summer 2019</b></td>
        <td>Internship at <a href="http://www.riken.jp/en/research/labs/aip/">RIKEN AIP</a> in Tokyo on the <a href="https://emtiyaz.github.io/#research">Approximate Bayesian Inference</a> team</td>
    </tr>
    <tr>
        <td><b>May 2019</b></td>
        <td>Earned MS in Computer Science (High Performance Computing) at Georgia Tech</td>
    </tr>
    <tr>
        <td><b>Fall 2018</b></td>
        <td>Teaching assistant for <a href="https://cs4540-f18.github.io/">CS 4540: Advanced Algorithms (F18)</a></td>
    </tr>
    <tr>
        <td><b>May 2018</b></td>
        <td>Visited the <a href="https://www.mccormick.northwestern.edu/eecs/computer-science/online-markets.html">Data
                Science &amp; Online
                Markets</a> group at Northwestern</td>
    </tr>
</table>

<h1>Selected Writing</h1>

{% for article in articles %}
<div class="post-box">
    <a class="post-title" href="{{article.url}}">{{article.title}}</a>
    <span class="post-date">{{article.locale_date}}.</span> {{article.summary}}
</div>
{% endfor %}
{% endblock %}
