{% extends "structure/base.html" %}

<!-- STYLE -------------------------------------------------------------------->
{% block head %}
{% endblock %}

<!-- CONTENT ------------------------------------------------------------------>
{% block content %}

<!-- ABOUT ME -->
<div id="about-box">
	<img id="ben-photo" src="{{SITEURL}}/theme/images/ben-160px.jpg"></img>
	<ul id="about-info">
		<li class="social"><img src="{{SITEURL}}/theme/icons/linkedin-14px.png"></img><a href="{{SITEURL}}/resume">resume</a></li class="social">
		<li class="social">
			<img src="{{SITEURL}}/theme/icons/github.ico"></img><a href="https://github.com/benrbray">github</a>
		</li>
		<li class="social"><img src="{{SITEURL}}/theme/icons/linkedin-14px.png"></img><a href="https://www.linkedin.com/in/benrbray/">linkedin</a></li>
		<li class="social"><img src="{{SITEURL}}/theme/icons/newgrounds.gif"></img><a href="https://archawn.newgrounds.com/">newgrounds</a></li class="social">
		<li class="social"><img src="{{SITEURL}}/theme/icons/linkedin-14px.png"></img><a href="mailto:benrbray@gmail.com">gmail</a></li class="social">
	</ul>
	<div id="about-text">
		<p>I recently obtained a Masters in Computer Science from <b>Georgia Tech</b>.  I'm currently seeking <b>full-time opportunities</b>, so check out my <a href="http://benrbray.com/resume">resume</a>!  My interests include computer graphics, numerical methods, and machine learning.  My research advisor was <a href="https://www.cc.gatech.edu/~jabernethy9/">Jacob Abernethy</a>. 
		
		<p>Previously, I studied math at the University of Michigan, where I also helped with a machine learning <a href="https://eecs445-f16.github.io/">class</a> and <a href="http://msail.github.io/">reading group</a>.  Off-campus I like to bike, cook, and play piano.  Maybe one day I'll make more <a href="http://www.newgrounds.com/portal/view/512482">games</a>.
		
		<p>If you'd like to chat, feel free to write me at <a href="mailto:benrbray@gmail.com">benrbray@gmail.com</a>.
	</div>
</div>

<!-- Recent Updates -------------------------------------------------------- -->
<h1>Recent Updates</h1>

<table>
	<colgroup>
		<col style="width:8em">
	</colgroup><tr>
		<td><b>Spring 2020</b></td>
		<td>Teaching assistant for ISYE 6740: Computational Data Analysis with Prof. Yao Xie</td>
	</tr>
	<tr>
		<td><b>Fall 2019</b></td>
		<td>Teaching assistant for <a href="https://cs4540-f19.github.io/">CS 4540: Advanced Algorithms</a> with Prof. Jacob Abernethy</td>
	</tr>
	<tr>
		<td><b>July 2019</b></td>
		<td>Attended the <a href="http://www.cas.mcmaster.ca/~deza/tokyo2019progr.html">Discrete Optimization & Machine Learning
			Workshop</a> at RIKEN AIP</td>
	</tr>
	<tr>
		<td><b>Summer 2019</b></td>
		<td>Internship at <a href="http://www.riken.jp/en/research/labs/aip/">RIKEN AIP</a> in Tokyo on the <a href="https://emtiyaz.github.io/#research">Approximate Bayesian Inference</a> team</td>
	</tr>
	<tr>
		<td><b>May 2019</b></td>
		<td>Completed MS in Computer Science (High Performance Computing) at Georgia Tech</td>
	</tr>
	<tr>
		<td><b>Fall 2018</b></td>
		<td>Teaching assistant for <a href="https://cs4540-f18.github.io/">CS 4540: Advanced Algorithms (F18)</a></td>
	</tr>
	<tr>
		<td><b>May 2018</b></td>
		<td>Visited the <a href="https://www.mccormick.northwestern.edu/eecs/computer-science/online-markets.html">Data
				Science &amp; Online
				Markets</a> group at Northwestern</td>
	</tr>
</table>

<h1>Projects</h1>

<div class="project-container">
	{% for article in articles %}
	{% set is_project = (article.category == "projects") %}
	{% set is_unpublished = (article.unpublished is defined) %}
	{% if is_project and (DEVELOP_FLAG or not is_unpublished) %}
	<a class="project-box{% if is_unpublished %} unpublished{% endif %}" href="{{article.url}}">
		<!-- Thumbnail -->
		<div class="project-thumb">
		<img src="{{article.thumb_url}}"></img>
		</div>
		<!-- Title -->
		<div class="project-title"><p>{{article.title}}</p></div>
	</a>
	{% endif %}
    {% endfor %}
</div>


<h1>Selected Writing</h1>

{% for article in articles %}
	{% set is_project = (article.category == "projects") %}
	{% set is_unpublished = (article.unpublished is defined) %}
	{% if not is_project and (DEVELOP_FLAG or not is_unpublished) %}
	<div class="post-box{% if is_unpublished %} unpublished{% endif %}">
		<a class="post-title" href="{{article.url}}">{{article.title}}</a>
		<span class="post-date">{{article.locale_date}}.</span>
		{{article.summary}}
	</div>
	{% endif %}
{% endfor %}
{% endblock %}
