{% extends "structure/base.html" %}

<!-- CONTENT --------------------------------------------------------------- -->
{% block content %}
<div class="center">

<h1 style="margin-bottom:40px;">Projects</h1>

<!-- Article Loop ---------------------------------------------------------- -->
<div class="project-container">
	{% for article in articles %}
	{% set is_project = (article.category == "projects") %}
	{% set is_unpublished = (article.unpublished is defined) %}
	{% if is_project and (DEVELOP_FLAG or not is_unpublished) %}
	<a class="project-box{% if is_unpublished %} unpublished{% endif %}" href="{{article.url}}">
		<!-- Thumbnail -->
		<div class="project-thumb">
		<img src="{{article.thumb_url}}"></img>
		</div>
		<!-- Title -->
		<div class="project-title"><p>{{article.title}}</p></div>
	</a>
	{% endif %}
    {% endfor %}
</div>

</div>
{% endblock %}