<!DOCTYPE html>

<html>

<head>
<title>Project Layout 1</title>
<!-- CSS -->
<style>
.center {
	max-width: 900px;
	margin: 0 auto;
	background-color: gray;
}
</style>
</head>

<body>
<div class="center">
	<div>
		<div class="proj-title">Project Title</div>
		<div class="proj-desc">
			<p>Quisque diam nunc, tempor ut volutpat sed, laoreet et sem. Sed bibendum odio eu lacus facilisis, quis pharetra nisi sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis efficitur lacus vel urna venenatis, bibendum gravida metus lacinia. Morbi varius laoreet condimentum.</p>
			<p>Qurabitur facilisis massa metus, sed interdum arcu scelerisque eget. Integer faucibus leo lectus, sed finibus diam aliquam sit amet. Morbi et erat velit. Nulla velit nisl, molestie in tellus eu, condimentum fringilla quam. Etiam malesuada eleifend maximus. Aenean condimentum arcu quis vulputate pharetra. Donec sit amet arcu ipsum. Sed quis ante sed arcu finibus malesuada.</p>
		</div>
	</div>
</div>
</body>